{% extends 'global/base.html' %}


{% block conteudo %}
    <div class="container">
        {% for perfil in perfis %}
            {% if perfil.imagem %}
                <img src="{{ perfil.imagem.url }}" class="rounded-circle" alt="" style="width: 100px; heigth: 100px;">
                <h3><a href="{% url 'posts:perfil' perfil.id %}">{{ perfil.usuario.username }}</a></h3>
                <p>@{{ perfil.usuario.username|lower }}</p>
            {% else %}
                <h3><a href="{% url 'posts:perfil' perfil.id %}">{{ perfil.usuario.username }}</a></h3>
                <p>@{{ perfil.usuario.username|lower }}</p>
            {% endif %}
        {% endfor %}
    </div>

{% endblock conteudo %}